.hide {
  display: none;
}

.cf,
%cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// layout 

.pull-left  {float: left;}
.pull-right {float: right;}

.center {
  text-align: center;
}

.pad-btm {
  margin-bottom: 40px; 
  outline: 1px solid red;
}

.flush-btm {margin-bottom: 0;}

.push-btm       {margin-bottom: 40px;}

.push-btm-half  {margin-bottom: 20px;}

.hide-mobile {
  display: none;

  @include breakpoint($break) {
    display: block;
  }
}
