.hide {
  display: none;
}

.clear {
	clear: both;
}

.cf,
%cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// layout 

.pull-left  {float: left;}
.pull-right {float: right;}

.center {
  text-align: center;
}

.pad-top {
  padding-top: 40px !important;
}

.pad-btm {
  padding-bottom: 40px;
  outline: 1px solid red;
}

.page-padding {
  padding-top:    40px !important;
  padding-bottom: 40px !important;
}

.flush-btm {margin-bottom: 0;}

.push-btm       {margin-bottom: 40px;}

.push-btm-half  {margin-bottom: 20px;}

.hide-mobile {
  display: none;

  @include breakpoint($break) {
    display: block;
  }
}

.italic,
.italic > * {
  font-family: $alt-font-family;
}
