.events > div {

  @include breakpoint($break) {
    @include span(6 at 7);
  }

  @include breakpoint($break2) {
    padding-left:  20px;
    padding-right: 20px;
  }

  &:last-child {
    background: #262734;
    @include breakpoint($break) {
      @include span(6 at 1);
    }
  }
}


.events-list {
  padding: 20px 0;

  h1 a{
    color: #7f8092;
    text-decoration: none;

    &:hover {
      color: $orange;
    }
  }
  
  p,
  p a {
    @extend .h6;
  }

  .current-event {
    
  }

  .current-event-title {
    @include breakpoint ($break2) {
      padding-left: 0;
    }
    margin-bottom: 20px;
  }

  .current-event {
    margin-bottom: 60px;
    padding: 0 20px 20px 20px;
    @extend %cf;

    @include breakpoint($break) {
      margin-bottom: 80px;
    }

    @include breakpoint($break2) {
      padding: 0;
    }

    h1 { // current day
      display: inline;
      font-size:   32px;
      line-height: 38px;
      font-weight: 300;
    }

    img {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      @include breakpoint($break2) {
        @include span(3 at 1 of 6);
      }
    }

    .current-event-info {
      @include breakpoint($break2) {
        @include span(3 at 4 of 6);
      }
    }
  }

  .future-event {
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
    @include breakpoint($break2) {
      padding: 20px 20px 20px 0;
      @include span(3 at 1 of 6);
    }

    // background adjustments

    &:before {
      position: absolute;
      content: '';
      background: rgba(0,0,0,.2);
      left: -20px;
      right: 0;
      top: 0;
      bottom: 0;
    }

    span {
      position: absolute;
      top: -31px;
      left: 20px;
    }

    h1 { // upcoming day - title
      font-size: 26px;
      line-height: 31px;
      font-weight: 300;
      margin-bottom: 10px;
      position: relative;
    }

    *:last-child {
      margin: 0;
    }

    &:first-child {
      @include breakpoint($break2) {
        margin-bottom: 20px;
      }


      span {
        @include breakpoint($break2) {
          left: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 20px;
      @include breakpoint($break2) {
        padding: 20px 0 20px 20px;
        @include span(3 at 4 of 6);
      }

      &:before {
        left: 0;
        right: -20px;
      }

      span {
        left: 20px;
      }
    }
  }
}



