
.company-info,
.social-links {
  text-align: center;
  @include breakpoint(550px) {
    width: 230px; // set to equal width for centered nav and copyright
  }

  a {
    color: $purple-text;
    transition: color .2s;

    &:hover {color: $red;}
  }
}

.company-info {
  margin-bottom: $base-spacing-unit;

  @include breakpoint(550px) {
    margin-bottom: 0;
    float: left;
    text-align: left;
  }
  
}

.social-links {
  @include breakpoint(550px) {
    float:right;
    text-align: right;
  }
}

footer small { // copyright
  @extend %cf;
  display: block;
  color: $purple-text;
}