.hours {
  @include breakpoint($break0) {
    margin-bottom: $dbl-spacing-unit;
  }

  @include breakpoint($break) {
    @include span(6 at 1);
  }

  @include breakpoint(1050px) {
    @include span(4 at 4);
  }
  
  dt,
  dd {
    font-size: 32px;
    line-height: 38px;
  }

  dt {
    color: #7f8092;
  }

  dd {
    color: $white;
    margin-bottom: 20px;
  }

  p {
    font-size: 19px;
    line-height: 23px;
    color: $purple-text;
  }
}