.menu-items {
  // outline: 1px solid red;
  @extend %cf;

  // li {
  //   margin-left: -20px; // pushes category title to the left
  // }
}

.items {
  margin-bottom: 80px; // category
  padding-left: 20px;
}

.item {
  margin-bottom: 30px;
  // margin-left: 0; // override

  p {
    line-height: 26px;
    margin-bottom: 0;
  }
}

.item-title { // ten menu items per row
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}