.title,
%title {
  font-family: $alt-font-family;
  font-weight: 400;
  font-size:   50px;
  line-height: 42px;
  margin-bottom: 0;
}

.title--inline {
  @extend %title;
  display: inline-block;
}

.title--underline {
  @extend %title;
  margin-bottom: 20px;
  display: block;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    bottom: -5px;
    height: 2px;
    background: $white;
  }
}


.category-title {
  font-size: 40px; // same as button
  font-family: $alt-font-family; // same as button
  color: $peach;
  line-height: 50px;
  padding-top: 5px; // centers title
  margin-left: -$base-spacing-unit;
  background: rgba($black,.8);
  font-weight: 300;
  margin: 0 0 30px -20px;
  text-indent: 20px;
}