{% capture content %}

  <pre>events/index.html template</pre>
  
  <div class="wrapper">

    <main>

      <ul class="eventsDetail">

        <li class="eventMain">
          <div class="eventImg" style="background-image: url('{{assets.first.url}}')"></div>
          <div class="eventInfo">
            <span class="title">{{ url | split:"/" | last | capitalize}}</span>
            <h1 class="h3">{{title}}</h1>
            <p class="flush-bottom">{{body}}</p>
          </div>
          
        </li>

        {% for page in parent.pages %}

          {% if page.url != url %}

            {% capture indexNum %}{{ forloop.index | modulo:3 }}{% endcapture %}

            <li class="eventSecondary">
              <a href="{{page.url}}"><div class="eventImg" style="background-image: url('{{page.assets.first.url}}')"></div></a>
              <span class="title">{{ page.url | split:"/" | last | capitalize}}</span>
              <h2 class="h5 flush-btm">{{page.title}}</h2>
              <div class="eventExcerpt">{{page.excerpt | truncatewords: 13, '...'}}</div> 
              <a href="{{page.url}}">Read More</a>
            </li>

          {% endif %}
        {% endfor %}
      </ul>

    </main>
  </div>

{% endcapture %}

{% include 'layouts/default' %}