{% capture content %}

  <pre>events/index.html template</pre>
  
  <div class="wrapper">

    <main>
  
    <h1>{{title}}</h1>

    {{body}}

    <ul class="eventsDetail">
      {% for page in pages %}

        {% if forloop.first == true %}

        <li class="eventMain">
          <div class="eventImg" style="background-image: url('{{page.assets.first.url}}')"></div>
          <span class="title">{{ page.url | split:"/" | last | capitalize}}</span>
          <h1 class="h3">{{page.title}}</h1>
          {{page.body}}
        </li>
          
        {% else %}

        {% capture indexNum %}{{ forloop.index | modulo:3 }}{% endcapture %}
        

        <li class="eventSecondary{% if indexNum == '1' %} last{% endif %}">
          
          
          <span class="title">{{ page.url | split:"/" | last | capitalize}}</span>
          <div class="eventImg" style="background-image: url('{{page.assets.first.url}}')"></div>
          <h2 class="h5 flush-btm">{{page.title}}</h2>
          <div class="eventExcerpt">{{page.excerpt | truncatewords: 13, '...'}}</div>
          <a href="{{page.url}}">Read More</a>
        </li>

        {% endif %}
      {% endfor %}
    </ul>

    </main>
  </div>

{% endcapture %}

{% include 'layouts/default' %}