{% capture content %}


{% if url != '/menu/happy-hour' %}
  <script>

    $(document).ready(function(){
      var items = $('.menu-items.third-1 li');

      // finds number of items in menu
      var itemsTotal = items.size();
      console.log(itemsTotal + " :total items");

      // divides items in 3 
      var itemsSlice =  itemsTotal / 3;
      var itemsSliceTwo = itemsSlice + itemsSlice;

      console.log(itemsSliceTwo);

      for (var i=itemsTotal; i > 0; i--) {
        if (i > itemsSliceTwo) {
          $('.third-3').prepend(items.eq(i));
        } else if (i >= itemsSlice) {
          $('.third-2').prepend(items.eq(i));
        }
      }
    });

  </script>
{% endif %}


<div class="menu-bg" style="background-image: url('/assets/img/menu-bg.jpg')">

  <div class="wrapper">

    <div class="container menu-wrap">

      <pre>menu/default.html</pre>

      {% include 'includes/nav-menu' %}

      {% if url == '/menu/happy-hour' %}
        <div class="happy-hour">
          {% for post in posts  %}
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% if url != '/menu/happy-hour' %}

        <ul class="menu-items third-1">
        {% for set in taxonomy %}
          {% for tag in set %}
            {% unless tag == "luxurybox" %}
              <li>
                <h1 class="category-title">{{tag.value}}</h1>
              </li>
              {% for post in tag.posts %}
                <li class="item">
                  <h2 class="item-title">{{post.title}}</h2>
                  {{post.body}}
                </li>
              {% endfor %}
            {% endunless%}
          {% endfor %}
        {% endfor %}
        </ul>
        <ul class="menu-items third-2"></ul>
        <ul class="menu-items third-3">
            {% if taxonomy.tags.luxurybox.posts %}
              <li><h1 class="category-title">Luxury Box</h1></li>
              {% for post in taxonomy.tags.luxurybox.posts %}
                <li class="item">
                  <h2 class="item-title">{{post.title}}</h2>
                  {{post.body}}
                </li>
              {% endfor %}
            {% endif %}
            <!-- <div class="cf"></div> -->
        </ul>
        

      {% endif %}

    </div>

  </div>

</div>

{% endcapture %}

{% include 'layouts/default' %}